bin/
gen/
libs/
.metadata
tmp/**
.DS_Store
*.tmp
*.bak
tmp/**/*
*.swp
*~.nib
Thumbs.db
Desktop.ini
*~
*.apk
*.ap_
*.dex
*.class
local.properties
*.jar
.*.kate-swp
.*.swp
.classpath
project.properties
.project
